@*We are telling compiler that we are writing c# code*@
@model  First_MVC_APP.Models.PlayerViewModel;  

<h1>Hello World bro!</h1>

<h4>A player named @Model.Name @Model.Surname is @Model.Possition</h4>
<h4>@Model.Name is @Model.Age years old</h4>